<style>
  #template-page-brands h1, #template-page-brands h2 {
    margin: 0 auto;
    text-align: center;
  }

  #template-page-brands .page__title.title {
    font-family: Georgia,Times,Times New Roman,serif;
  }

  #template-page-brands .container {
    flex-direction: column;
  }

  #template-page-brands .brands-content li {
    text-transform: capitalize;
    margin-left: 3rem;
  }

  #template-page-brands .container hr {
    background-color: rgba(0,0,0,0.0625);
    height: 1px;
  }

  #brands-container{
    margin-top: 2rem;
  }

  #brands-container h1:first-of-type {
    margin-bottom: 2rem;
  }

  .brands-content {
    display: grid;
    grid-template-columns: 12% 1fr;
    grid-gap: 2rem;
  }

  .first-letter, #brand-links a {
    grid-column: 1;
    text-align: center;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 16px;
    font-weight: 700;
    margin-top: .125em;
    margin-bottom: 8px;
    text-transform: uppercase;
  }

  .brands-content ul {
    grid-column: 2;
    -webkit-column-count: 4;
    column-count: 4;
  }

  @media (max-width: 768px){
    .brands-content ul {
      -webkit-column-count: 1;
      column-count: 1;
    }
  }

  #brand-links {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  @media (max-width: 768px){
    #brand-links {
      display: block;
      text-align: center;
    }
    #brand-links a {
      margin: 4%;
      line-height: 2;
    }
  }

  #template-page-brands .heading-divider:not(.heading-divider--vertical) {
    display: none;
  }

  #template-page-brands .heading-wrapper {
    margin-bottom: 0;
  }

  #brand-logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media(max-width: 768px) {
    #featured-brands-container {
      display: none;
    }
  }

</style>

<main id="template-{{ template | replace: '.', '-' | handle }}" class="shopify-section default-page">
  <section class="section__wrapper
                  section
                  ">
    <div class="container">

      {% section 'page__brands' %}

      <div id="brand-links">
        {%- assign alphabet = "abcdefghijklmnopqrstuvwxyz" | split: "" -%}
        {%- for letter in alphabet -%}
          <a href="#brands-{{letter}}">{{ letter }}</a>
        {%- endfor -%}
      </div>
      {% assign shop_vendors = shop.vendors %}
      {%- for brand in shop.vendors -%}
        {%- assign first_letter = brand | slice: 0 | downcase -%}
        {%- assign prev_index = forloop.index0 | minus: 1 -%}
        {%- assign prev_letter = shop_vendors[prev_index] | slice: 0 | downcase  -%}
        {%- if forloop.first == true -%}
          <hr>
          <div class="brands-content">
            <h2 class="first-letter" id="brands-{{ first_letter }}">{{ first_letter | upcase }}</h2>
            <ul>
        {%- elsif first_letter != prev_letter -%}
            </ul>
          </div>
          <hr>
          <div class="brands-content">
            <h2 class="first-letter" id="brands-{{ first_letter }}">{{ first_letter | upcase }}</h2>
            <ul>
        {%- endif -%}
        <li>{{ brand | link_to_vendor | downcase }}</li>
        {%- if forloop.last == true -%}
            </ul>
          </div>
        {%- endif -%}
      {%- endfor -%}
    </div>
  </section>
</main>
